body,h1,h2,p,button,ul {
  margin: 0;
  padding:0;
}

body{
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.centered {
  text-align:center;
}

header{
  padding:10px;
}

footer{
  background-color: #818181;
  height: 100px;
}

button{
  background-color: #ffffff;
  color:#0077ff;
  width: 400px;
  padding:10px;
  font-size: 15px;
  font-weight: 1000;
  border: none;
}

.wtMax{
  width:100%;
}

.wt500{
  width:500px;
}

.bgc-gry{
  background-color: #bdb9b9;
}
/*margin*/
/*margin-* : 10px;*/
.mgt10{
  margin-top:10px;
}

.mgr10{
  margin-right: 10px;
}

.mgb10{
  margin-bottom: 10px;
}

.mgl10{
  margin-left: 10px;
}
/*margin-* : 50px;*/
.mgt50{
  margin-top:50px;
}

.mgr50{
  margin-right: 50px;
}

.mgb50{
  margin-bottom: 50px;
}

.mgl50{
  margin-left: 50px;
}

/*padding*/
.pdg15{
  padding:15px;
}
/*padding-* : 10px;*/
.pdt15{
  padding-top:15px;
}

.pdr15{
  padding-right: 15px;
}

.pdb15{
  padding-bottom: 15px;
}

.pdl15{
  padding-left: 15px;
}
/*padding-* : 50px;*/
.pdt50{
  padding-top:50px;
}

.pdr50{
  padding-right: 50px;
}

.pdb50{
  padding-bottom: 50px;
}

.pdl50{
  padding-left: 50px;
}
