body,h1,h2,p,button,ul {
  margin: 0;
  padding:0;
}

body{
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.text-center {
  text-align:center;
}

header{
  padding:10px;
}

footer{
  background-color: #818181;
  height: 90px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 15px;
}

button{
  background-color: #ffffff;
  color:#0077ff;
  width: 400px;
  padding:10px;
  font-size: 15px;
  font-weight: 1000;
  border: none;
}

.sled-list {
  padding: 10px;
}

.sled-list ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin:5px 0;
  font-size: 12px;
}

.opt-link a{
  text-decoration: none;
}

.opt-link{
  display: flex;
  gap:40px;
  justify-content: flex-end;
}

.post-content{
  font-size: 14px;
  padding-top: 15px;
  padding-left: 50px;
  padding-bottom: 30px;
}

input,textarea{
  border: none;
  width: 100%;
}

input{
  height: 35px;
}

a {
  display: inline-block;
}

.index-input{
  display: flex;
  gap: 35px;
  align-items: stretch;
}

.email {
  padding-top: 6px;
}

.name input p,.email input p{
  width: 100%;
}

.input .email p{
  padding-top:6px;
}

.textarea{
  width: 100%;
}

.id p{
  position: relative;
  top: -20px;
  left: -245px;
}

.password p{
  position: relative;
  top: -20px;
  left: -278px;
}

.id input, .password input {
  display: inline-block;
  vertical-align: middle;
}

.new-user p{
  position: relative;
  right: 278px;
}

.new-ID p{
  position: relative;
  right: 238px;
}

.new-pw p{
  position: relative;
  right:278px;
}

.txt-right{
  text-align: right;
}

.txt-left{
  text-align: left;
}

.write-btn {
  background-color: blue;
  color:white;
  width: 200px;
}

.login-btn {
  background-color: blue;
  color:white;
  width: 200px;
}

.user-link{
  position: relative;
}

.user-link p{
  position: absolute;
  right: 280px;
  bottom: 20px;
}

.wtMax{
  width:100%;
}

.wt500{
  width:500px;
}

.wt630{
  width: 630px;
}

.bgc-gry{
  background-color: #bdb9b9;
}
/*margin*/
/*margin-* : 10px;*/
.mgt10{
  margin-top:10px;
}

.mgr10{
  margin-right: 10px;
}

.mgb10{
  margin-bottom: 10px;
}

.mgl10{
  margin-left: 10px;
}
/*margin-* : 50px;*/
.mgt50{
  margin-top:50px;
}

.mgr50{
  margin-right: 50px;
}

.mgb50{
  margin-bottom: 50px;
}

.mgl50{
  margin-left: 50px;
}

/*padding*/
.pdg15{
  padding:15px;
}

.pdg30{
  padding:30px;
}

.pdg50{
  padding:50px;
}

/*padding-* : 10px;*/
.pdt15{
  padding-top:15px;
}

.pdt20{
  padding-top: 20px;
}

.pdt30{
  padding-top: 30px;
}

.pdt50{
  padding-top: 50px;
}

.pdt70{
  padding-top: 70px;
}

.pdr15{
  padding-right: 15px;
}

.pdr40{
  padding-right: 40px;
}

.pdr215{
  padding-right: 215px;
}

.pdb15{
  padding-bottom: 15px;
}

.pdb50{
  padding-bottom: 50px;
}

.pdb350{
  padding-bottom: 350px;
}

.pdb70{
  padding-bottom: 70px;
}

.pdl15{
  padding-left: 15px;
}
/*padding-* : 50px;*/
.pdt50{
  padding-top:50px;
}

.pdr50{
  padding-right: 50px;
}

.pdb50{
  padding-bottom: 50px;
}

.pdl50{
  padding-left: 50px;
}

.flex{
  display: flex;
  gap: 25px;
}


/*ハンバーガーメニュー用のみ*/
.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #3584bb;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 80;
  background-color: white;
  transition: all 0.5s;
}
.menu-content ul {
  padding: 30px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:black;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}
#menu-btn-check:checked ~ .menu-content {
  left: 1350px;/*メニューを画面内へ*/
}
